.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 200px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 49%;

}
.minStyle{
  position: absolute;
  Width:200px;
  height:200px;
  object-fit: contain;
}
.secStyle{
  position: relative;
  Width:200px;
  height:200px
}
.hoursStyle{
  position: absolute;
  margin-left: -20px;
  animation:forwards
}
.minutseStyle{
  position: absolute;
  margin-left: 48px;
  margin-top: -10px;

}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}